<div class="flex flex-col overflow-hidden dialog-container">
  <div class="bg-primary text-white text-xl p-4">{{ lang.locals.change_password }} : {{ data.model.username }}</div>
  <div [formGroup]="form" class="p-4 flex flex-col flex-auto">
    <mat-form-field class="example-full-width">
      <mat-label>{{ lang.locals.new_password }}</mat-label>
      <input formControlName="password" matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>{{ lang.locals.confirm_password }}</mat-label>
      <input formControlName="confirmPassword" matInput />
    </mat-form-field>
  </div>
  <div class="p-4 space-x-4 rtl:space-x-reverse">
    <button (click)="save.next()" mat-raised-button class="primary">
      {{ lang.locals.change }}
    </button>
    <button (click)="close()" mat-raised-button>
      {{ lang.locals.close }}
    </button>
  </div>
</div>
