// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'styles/fonts';

// Define the theme object.
$fnws-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($fnws-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($fnws-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($fnws-theme);
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-dialog-surface {
  overflow: hidden;
}

.dialog-container {
  @apply w-[calc(100vw-32px)] md:w-[600px];
}

:root {
  --mdc-dialog-container-shape: theme(borderRadius.md);
  --mat-dialog-container-max-width: unset;
  --mdc-protected-button-container-shape: theme(borderRadius.md);
  --mat-table-header-headline-font: theme(fontFamily.lusail);
}

.mat-mdc-raised-button.primary:not(:disabled),
.mat-mdc-raised-button.primary:active {
  --mdc-protected-button-container-color: theme(colors.primary.DEFAULT);
  --mdc-protected-button-label-text-color: theme(colors.white);
  &:hover {
    --mdc-protected-button-container-color: theme(colors.primary.900);
    &:active {
      --mdc-protected-button-container-color: theme(colors.primary.DEFAULT);
    }
  }
}
